Backend/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -32
      ],
      "id": "7e3ef578-4295-462e-bfbb-9b1bbec77f36",
      "name": "Webhook",
      "webhookId": "86e3df43-eebe-41dc-9933-97aa1bcf56c4"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/empresas/{{ $json.body.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        -32
      ],
      "id": "a0b9c406-6b2b-4e4e-a766-a0797055a66b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n`Datos de la empresa (JSON):\n${JSON.stringify($node[\"HTTP Request\"].json, null, 2)}\n\nTexto libre que envía la empresa:\n${$node[\"Webhook\"].json.body.texto_libre}\n\nIdioma deseado para la oferta:\n${$node[\"Webhook\"].json.body.idioma || \"es\"}\n\nGenera la oferta siguiendo EXACTAMENTE la estructura JSON indicada en las instrucciones del sistema.\n`\n}}",
        "options": {
          "systemMessage": "Eres un asistente experto en reclutamiento y redacción de ofertas laborales.\n\nTarea:\n- A partir del contexto de una empresa (JSON) y un texto libre enviado por la empresa\n  sobre lo que cree que necesita, debes proponer una oferta de trabajo completa\n  y estructurada en JSON.\n\nLa salida DEBE ser ÚNICAMENTE un JSON válido, sin texto extra, con esta estructura EXACTA:\n\n{\n  \"titulo\": \"string\",\n  \"descripcion\": \"string\",\n  \"responsabilidades\": [\"string\", \"string\"],\n  \"requisitos\": [\"string\", \"string\"],\n  \"skills_requeridos\": \"string\",\n  \"nivel_experiencia\": \"junior | middle | senior\",\n  \"salario_min\": 0,\n  \"salario_max\": 0,\n  \"modalidad\": \"remoto | híbrido | presencial\",\n  \"idioma\": \"es | en | ...\",\n  \"notas_para_reclutador\": \"string\"\n}\n\nTen en cuenta:\n- Usa el idioma solicitado por el usuario.\n- Ajusta el tono al tipo de empresa (sector, país, descripción).\n- Si faltan datos, haz supuestos razonables y explícalos en \"notas_para_reclutador\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        -32
      ],
      "id": "b62f5be2-cf2c-4f22-96d1-a72567ca6bbe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        112
      ],
      "id": "3fbda990-c48e-4863-9c4b-7612bcc1aa78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aroI4p0KWjvB8LcP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/cargos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{$node[\"Webhook\"].json.body.empresa_id}}"
            },
            {
              "name": "nombre",
              "value": "={{ $json.titulo }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "name": "salario_min",
              "value": "={{ $json.salario_min }}"
            },
            {
              "name": "salario_max",
              "value": "={{ $json.salario_max }}"
            },
            {
              "name": "modalidad",
              "value": "={{ $json.modalidad }}"
            },
            {
              "name": "skills_requeridos",
              "value": "={{ $json.skills_requeridos }}"
            },
            {
              "name": "nivel_experiencia",
              "value": "={{ $json.nivel_experiencia }}"
            },
            {
              "name": "estado",
              "value": "activo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        -32
      ],
      "id": "881df8f2-32c6-458f-ad74-ae20226d5f15",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// La respuesta del AI Agent viene como string en json.output\nconst raw = $json.output;\n\n// Intentamos parsear a JSON\nlet oferta;\ntry {\n  oferta = JSON.parse(raw);\n} catch (e) {\n  throw new Error('No se pudo parsear la salida del AI Agent como JSON: ' + e.message);\n}\n\n// Devolvemos la oferta como json plano para usarla en los siguientes nodos\nreturn [\n  {\n    json: oferta,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -32
      ],
      "id": "072f0b8b-fd5d-4d8f-aca3-4a89218d28c3",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e76fd77b-4bbe-4ae5-9a86-47d06a3d6e04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fa0fcfb4465f53165a636f6f27adca92e54c0f679befc846d45f6d0a8fcf994"
  },
  "id": "u9ck0fJJKfJ2Vo18",
  "tags": []
}